{% extends "partials/base.html.twig" %}

{% block title %}Movie list{% endblock %}

{% block body %}
 <section>
    <div class="container mt-5">
      <div class="row">
        <h1 class="text-center mt-5"><span></span>List of movies</h1>
      </div>
      <div class="row ">
        {% for movie in arrayMovies %}
        <div class="col-md-3">
          <div class="card-flipper effect__hover mb-2" data-id="1">
            <div class="card__front ">
              <div class="card card-01 ">
                <div class="profile-box-01">
                     <img class="card-img-top" src="{{ baseUrl }}/Uploads/posters/{{ movie.poster }}"
                             alt="{{ movie.title }}"> 
                </div>
                <div class="card-body  ">  
                  <h6 class="card-title"> {{ movie.title }} </h6>
                 <p class="card-text"><strong>{{ movie.releaseYear}}</strong> </p> 
                  
                </div> 
              </div>
            </div>

            <div class="card__back">
              <div class="card card-01">
                <div class="card-body text-center ">
                  <h4 class="card-title">{{ movie.title }}</h4>
                  <p class="card-text">{{ movie.synopsis }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
        </div>
        </div>
 </section>
    {# <div class="container mx-auto ">
        <h2 class="mt text-center">Movie list</h2>
        <div class="row text-center">
            {% for movie in arrayMovies %}
                <div class="col-md-4">


<div class="flip-card ">
  <div class="flip-card-inner">
    <div class="flip-card-front text-center">
        <img class="card-img-top img-responsive" src="{{ baseUrl }}/Uploads/posters/{{ movie.poster }}"
                             alt="{{ movie.title }}">  
                              
    </div>
    <div class="flip-card-back">
      <h4>{{ movie.title }}</h4> 
      <p>{{ movie.synopsis }}</p> 
      <p>Release year: {{ movie.releaseYear}}</p>
    </div>
  </div>
</div>

                </div>
          {% endfor %}
        </div>
    </div> #}
{% endblock %}
