{% extends "admin/partials/base.admin.html.twig" %}

{% block title %}Edit genre | Admin{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ baseUrl }}/assets/css/formStyle.css">
{% endblock %}

{% block body %}
    <div class="container mt-5" id="form-container">
        <form action="{{ baseUrl }}/admin/genre/edit" method="post" id="form-data" class="pb-3">
            <div class="input-group pb-1" id="genre-text">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="genre-edit-old">Genre to edit:</label>
                </div>
                <select class="custom-select" name="genre-edit-old" id="genre-edit-old">
                    <option value="">--Please choose a genre--</option>
                    {% if arrayGenres is defined %}
                        {% for id, genre in arrayGenres %}
                            <option name="{{ id }}" id="{{ id }}">{{ genre }}</option>
                        {% endfor %}
                    {% endif %}
                </select>
            </div>
            <div class="form-group" id="genre-text">
                <label for="genre-edit-new">New genre name:</label>
                <input type="text" name="genre-edit-new" id="genre-edit-new" placeholder=" Example: &quot;Comedy&quot;"
                       class="form-control" required>
            </div>
            <div id="form-btn-group">
                <input type="submit" value="Edit genre" class="btn btn-primary">
                <input type="reset" value="Reset" class="btn btn-danger">
            </div>
        </form>
        {% if editGenre is defined %}
            {% if editGenre == true %}
                <div class="alert alert-success" role="alert">
                    Genre updated with success !
                </div>
            {% else %}
                <div class="alert alert-danger" role="alert">
                    Error when updating the genre !
                </div>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}

{% block footer %}
{% endblock %}

{% block javascripts %}
{% endblock %}